body {
    /* background-color: black; */
    font-family: sans-serif;
    background-image: url("piron-guillaume-y5hQCIn1c6o-unsplash_e.jpg");
    background-size: cover;
}

.login_form {
    width: 540px;
    height: 20vw;
    background-color: white;
    border-radius: 30px;
    padding: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_input {
    margin: 0;
    width: 70%;
    height: 10%;
}

.submit{
    padding: 1vw;
    background-color: blue;
    border: 0;
    border-radius: 5px;
    color: white;
}